__pycache__/
*.pyc
.vscode
*.code-workspace

# Model file
app/distilbert-base-uncased-finetuned-sst-2-english/

# Local History for Visual Studio Code
.history/

# TF state
tf/.terraform*
tf/terraform.*

# Secretes
credentials
config
