__pycache__/
*.pyc
.vscode
*.code-workspace
*/.DS_Store

# Models
models

# Local History for Visual Studio Code
.history/
.dockerignore

# TF state
tf/.terraform*
tf/terraform.*

# Secretes
credentials
config
